/***************
RESET
***************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***************
COLOR
***************/
.container {
    background-color: lightcoral;
}
.fa-solid {
    color: #777777;
}

/***************
GENERAL
***************/
.container {
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-img {
    width: 20%;
    position: relative;
    display: none;
}
img {
    max-width: 100%;
}
.img-block {
    display: block;
}
button {
    background: none;
    border: none;
}
.fa-solid {
    opacity: 70%;
    font-size: 1.5rem;
}
.button-right {    
    position: absolute;
    right: 3%;
    top: calc(50% - (25px / 2));
}
.button-left {    
    position: absolute;
    left: 3%;
    top: calc(50% - (25px / 2));
}